body
{
    background: url("https://cdn.pixabay.com/photo/2015/03/26/09/54/pug-690566__340.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: ghostwhite;
    
}
.heading
{
    width: 80%;
    font-size: 22px;
}
.name_of_objects,#result_object_name,#result_object_accuracy
{
    color: cadetblue;
    font-size: 20px;
}
#camera
{
    border: 2px dashed black;
    width: 350px;
    height: 300px;
}
